body{
    margin : 0px;
}

div{
    box-sizing: border-box; 
}

.side-bar {
    padding-top : 20px;
    position: fixed;
    width : 150px; 
    height : 100vh; 
    background-color: cornflowerblue;
    transform: translateX(-75px); 
    transition: all 0.3s;
    z-index: 5;
}

.icon-box {
    text-align: right;
    font-size : 20px;
    color : white; 
}

.side-bar:hover{
    transform: translateX(0px);  
}

.side-bar i{
    transition: all 0.3s;
    transform: translateX(-30px);
}

.side-bar p{
    transform: translateX(-100px); 
}

.side-bar:hover i{
    transform: translateX(-100px);   
}

.side-bar:hover p{
    transform: translateX(10px);   
}


.main-container {
    margin-left : 75px; 
    height : 100vh; 
}

.navbar {
    width : 100%; 
    padding : 20px; 
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-box i {
    padding : 0px 15px 0px 15px;
    color : gray;
    font-size : 20px;
}


.dashboard {
    background-color: #eee;
    width : 100%;
    height : 150vh;
    padding : 50px 20px 50px 20px;
}





.card-items i{
    font-size: 32px;
    color : gray;
    text-align: center;
}



.card-item {
    border : 3px solid rgba(255, 245, 245, 0);
    border-radius: 10px;
    padding : 33px;
    background-color: white;
    display: block;
}

.canvas-wrap {
    width : 60%;
    border-radius: 10px;
    border : 1px solid #f6f6f6;
    background-color: white;
    padding : 20px;
}


.task-wrap {
    padding-left : 0px;
}

.task-wrap li{
    list-style: none;
    border: 1px solid gray;
    padding : 10px;
    background-color: white;
    border-radius: 10px;
}



.count-box {
    display: inline-block;
    color : white;
    background-color: blue;
    border-radius: 10px;
    padding : 0px 10px 0px 10px;
    float : right;
}

@media screen and (max-width : 992px){
    .card-items{
        padding-top: 10px;
        padding-bottom: 10px;    
    }
    
    .tasks{
        padding-top: 50px;
    }
    
    .dashboard{
        height : 180vh;
    }
}

.search-box{
    width : 150px;
    transition: width 1s;
}

.search-box:focus{
    width : 300px;
}
