
.grey {
    background-color: lightgray;
    height : 2000px;
    margin-top: 500px;
}

.img {
    float : right ;
    width : 400px;
    position: sticky;
    top : 0px;
}

.text {
    float : left;
    width : 300px;
}
