
div {
    box-sizing: border-box;
}

.left {
    width : 80%;
    float : left;
    padding : 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width : 800px;
    padding : 30px;
}

.right {
    width : 20%; 
    float : left;
}

.profile-photo { 
    width : 50px; 
    height : 50px; 
    margin-top: 20px;
}

.img-wrap {
    padding-top: 30px;
}

.footer {
    padding : 30px;
}

.profile {
    
}

.profile-user {
    float : left; 
    margin-left: 20px;
    padding-top : 15px;
}

.profile-photo-wrap {
    float : left; 
}

/*CSS Selector
1. A > B (비추천)
: A안에 있는 직계자식 B
2. A 공백 B (추천)
: A안에 있는 모든 자식 B 
*/
.nav-list li{
    display: inline-block;
    width : 60px; 
    text-align: center;
    background-color: #eee; 
    padding : 10px; 
    border-radius: 10px; 
}

.nav-list a{
    font-size : 20px;
    text-decoration: none; /* 밑줄 제거 : text-decoration : none */ 
    color : black;
    cursor: pointer; 
}






